<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
>
    <testsuites>
        <testsuite name="Structure type validation test suite">
            <directory>./test/StructureValidator/</directory>
        </testsuite>
    </testsuites>
</phpunit>